@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  background: linear-gradient(45deg, #33158C, #0B0B0B, #410758);
  font-family: 'Anek Tamil', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-y: auto;
}

.small-ticker-wrapper {
  width: 80%;
  overflow: hidden;
  background-color: #000;
  color: white;
  padding: 10px 0;
  box-sizing: border-box;
  position: relative;
}

.ticker-wrapper {
  width: 60%;
  overflow: hidden;
  background-color: #000;
  color: white;
  padding: 10px 0;
  box-sizing: border-box;
  position: relative;
}

.ticker-content {
  display: flex; 
  align-items: center;
  justify-content: center;
  width: max-content; 
  animation: ticker 25s linear infinite;
  gap: 15px;
}

.ticker-content > div {
  display: inline-block;
  white-space: nowrap; 
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


.white-logo img {
  filter: brightness(0) invert(1); 
  max-width: 150px;
  max-height: 80px;
}

.small-white-logo img {
  filter: brightness(0) invert(1); 
  max-width: 75px;
  max-height: 40px;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.loader {
  border-top-color: white;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
